language: php

php:
    - 7.1
    - 7.2
    - 7.3
    - 7.4
jobs:
    fast_finish: true
    include:
    - php: nightly
      env: COMPOSER_ARGS="--no-interaction --ignore-platform-reqs"
    allow_failures:
        - php: nightly

env:
    global:
        - COMPOSER_ARGS="--no-interaction"

before_script:
    - travis_retry composer self-update
    - travis_retry composer update $COMPOSER_ARGS

script:
    - make travis

after_success:
    - bash <(curl -s https://codecov.io/bash)

cache:
    directories:
        - $HOME/.composer/cache
